.header {
  padding: 20px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-color: blue;
  list-style: none;
  border: 10px solid;
  padding: 10px;
  background-color: bisque;
  
}

.nav-item {

}


.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
